<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head th:replace="layout :: frgCSS"></head>
<header th:replace="layout :: frgheader"></header>

<body>
	
	<center><h2>Reservas</h2></center>
	
	<div class="top-popular-courses-area mt-600 section-padding-100-40">
		<section class="contact-area mt-50">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<div class="col-12">
									<div class="section-heading text-left">
											<h4 th:text="${title}"></h4>											
										</div>
									<div class="contact-form-area wow fadeInUp"
										data-wow-delay="500ms">
									
														
					<table  class="table table-hover">
						<thead class="bg-light">
							<tr>
								<th><i class="fas fa-hospital"></i>&nbsp;Nombre</th>
								<!--  <th><i class="fas fa-phone"></i>&nbsp;Teléfono</th>
								<th><i class="fas fa-map-marker-alt"></i>&nbsp;Dirección</th>-->	
											
								<th><a class="btn btn-primary btn-lg active" th:href="@{/reserva/create}"><i class="fas fa-plus-circle"></i>&nbsp;Nuevo</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reserva : ${Reserva}">
								<td th:text="${reserva.fecha}"></td>
								<!--<td th:text="${farmacia.telefono}"></td>								
								<td th:text="${farmacia.direccion}"></td>-->
								<td>									
									<a class="btn btn-success btn-lg active" th:href="@{/reserva/retrieve/} + ${reserva.idreserva}"><i class="fas fa-eye"></i></a>
									<a class="btn btn-warning btn-lg active" th:href="@{/reserva/update/} + ${reserva.idreserva}"><i class="far fa-edit"></i></a>
									<button th:onclick="|onDelete(${reserva.idreserva});|" class="btn btn-danger btn-lg active"><i class="fas fa-trash-alt"></i></button>
								</td>
							</tr>
						</tbody>
					</table>									
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<br>
	<hr>
	
</body>
<div th:replace="layout :: frgFooter"></div>
<div th:replace="layout :: frgScripts"></div>
</html>