<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="frgCSS">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Druggelp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    
</head>

    <!-- Header Start -->
    <header th:fragment="frgheader">
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a th:href="@{/}"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a th:href="@{/}">Inicio</a></li>
                                    <li><a href="#">Farmacia</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/farmacia/list}">Locales</a></li>
                                            <li><a th:href="@{/farmaco/list}">Productos</a></li>
                                            <li><a th:href="@{/farmacia/rptFarmacoFarmacia}">Reporte de Productos en Farmacias</a></li>
                                            <li><a th:href="@{/farmacia/rptFarmacoPrecio}">Reporte de precios Productos</a></li>
                                        </ul>
                                    </li>
                                    <li class="hot"><a th:href="@{/shop.html}">Fármacos</a></li>
                                    <li><a th:href="@{/usuario/list}">Personal</a>
                                    </li>
                                    <li><a href="#">Pedido</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/reserva/create}">Pedido</a></li>
	                                    <li><a th:href="@{/reserva/rptReservaUsuario}">Reporte de Reservas por usuario</a></li>
                                        </ul>
                                    </li>
                                    
                                    
                                    
	                                    
                                    
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                        <div
							class="header-content h-100 d-flex align-items-center justify-content-between">
							<div class="academy-logo">
								<a th:href="@{/index.html}"><img
									th:src="@{/img/core-img/logo.png}" alt=""></a>
							</div>
							<div class="login-content" sec:authorize="isAuthenticated()">
								<i class="fas fa-user"></i>&nbsp;<a href="#"><span
									sec:authentication="name"></span></a>
								<div sec:authorize="isAuthenticated()">
									<form id="frmLogout" th:action="@{/logout}" method="post">
										<a href="#"
											onclick="document.getElementById('frmLogout').submit();"><p>Salir</p></a>
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
									</form>
								</div>
							</div>
							<div class="login-content" sec:authorize="!isAuthenticated()">
								<a th:href="@{/usuario/create}"><p >Registrarse</p></a>
								<a th:href="@{/login}"><p >Ingresar</p></a>
							</div>
						</div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>                
            </div>
        </div>
        </div>
        </header>
    

</head>
<body>
<div th:fragment="frgFooter">
<footer>        
        <div class="row">
			<div class="col-12">
				<div id="success-alert" th:if="${success != null}">
					<script th:inline="javascript">
						/*<![CDATA[*/
							var message = /*[[${success}]]*/
							Swal.fire({
									title : '¡Correcto!', 
									text: message,
									icon : 'success',
									button : 'Aceptar'
									})
						/*]]>*/
					</script>
				</div>
				<div id="error-alert" th:if="${error != null}">
					<script th:inline="javascript">
						/*<![CDATA[*/
							var message = /*[[${error}]]*/
							Swal.fire({
									title : '¡Error!', 
									text: message,
									icon : 'error',
									button : 'Aceptar'
									})
						/*]]>*/
					</script>
				</div>
				<div id="warning-alert" th:if="${confirmar != null}">
					<script th:inline="javascript">
						/*<![CDATA[*/
							var message = /*[[${confirmar}]]*/
							Swal.fire({
									title : 'Eliminar registro', 
									text: message,
									icon : 'warning',
									//showCancelButton: true,
									buttons: true;
									//confirmButtonText: 'Eliminar',
									//cancelButtonText:'Cancelar',
									//closeOnConfirm: false
									dangerMode:true
									})
									.then((willDelete)=>{
										if(willDelete){
											swal("Se ha eliminado correctamente su archivo")}
											icon:'success',
										});
									})else{
										swal("En hora buena");
									}
						/*]]>*/
					</script>
				</div>
								
			</div>
		</div>
        
        <!-- Footer End-->
    </footer>

</div>

<div th:fragment="frgScripts">
	<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/farmacia/card-farmacia.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/assets/js/wow.min.js}"></script>
    <script th:src="@{/assets/js/animated.headline.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script th:src="@{/assets/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/assets/js/jquery.sticky.js}"></script>
    
    <!-- contact js -->
    <script th:src="@{/assets/js/contact.js}"></script>
    <script th:src="@{/assets/js/jquery.form.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/mail-script.js}"></script>
    <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/assets/js/layout-util.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="@{/assets/js/plugins.js}"></script>
    <script src="@{/assets/js/main.js}"></script>
</div>

</body>
</html>
