<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head th:replace="layout :: frgCSS"></head>
<header th:replace="layout :: frgheader"></header>
<body>    
	<center><h3>Fármacos</h3></center>
	
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                    </div>
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->
                    <div class="select-this">
                        <form action="#">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">40 per page</option>
                                    <option value="">50 per page</option>
                                    <option value="">60 per page</option>
                                    <option value="">70 per page</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" th:each="farmaco : ${farmacos}">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <img th:src="@{/photos/} + ${farmaco.imagen}"/>
                                        <div class="img-cap">
                                            <span>Añadir al carrito</span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="product_details.html" th:text="${farmaco.nombre}"></a></h3>
                                        <span th:text="${farmaco.costo}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
            </div>
        </section>
        <!-- Latest Products End -->

	
</body>
<div th:replace="layout :: frgFooter"></div>
<div th:replace="layout :: frgScripts"></div>
</html>
