<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head th:replace="layout :: frgCSS"></head>
<header th:replace="layout :: frgheader"></header>
<body> 
	<div class="top-popular-courses-area mt-100 section-padding-100-70">
		<section class="contact-area mt-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<div class="col-12">
									<center><h4 th:text="${title}"></h4></center>
									<br><br>
									<div class="contact-form-area wow fadeInUp"
										data-wow-delay="500ms">
										
										<form th:action="@{/farmacia/save}" th:object="${Farmacia}"
											enctype="multipart/form-data" method="post">
											
											
											
											<div class="row d-flex align-items-center">
												<div class="col-1">
													<i class="fas fa-clipboard fa-2x"></i>
												</div>
												<div class="col-5">
													<input type="text" class="form-control"
														th:field="*{nombre}" required
														th:errorclass="'form-control is-invalid'"
														placeholder="Nombre de la Farmacia" /> 
													<small class="invalid-feedback"
														th:if="${#fields.hasErrors('nombre')}"
														th:errors="*{nombre}"></small>
												</div>
												
												<div class="col-1">
													<i class="fas fa-phone fa-2x"></i>
												</div>
												<div class="col-5">
													<input type="text" class="form-control"
														th:field="*{telefono}" required
														th:errorclass="'form-control is-invalid'"
														placeholder="Telefono" /> 
													<small class="invalid-feedback"
														th:if="${#fields.hasErrors('telefono')}"
														th:errors="*{telefono}"></small>
												</div>
											</div>
											
											
											<div class="row d-flex align-items-center">
												<div class="col-1">
													<i class="fas fa-map-marker-alt fa-2x"></i>
												</div>
												<div class="col-5">
													<input type="text" class="form-control"
														th:field="*{direccion}" required
														th:errorclass="'form-control is-invalid'"
														placeholder="Dirección Farmacia" /> 
													<small class="invalid-feedback"
														th:if="${#fields.hasErrors('direccion')}"
														th:errors="*{direccion}"></small>
												</div>
												
												
											</div>
											
											<hr>											
											<div class="d-flex justify-content-end">
												<button class="btn btn-sm academy-btn btn-3" type="submit">
													<i class="fas fa-save"></i> &nbsp;Guardar
												</button>
												<button class="btn btn-sm academy-btn btn-2 ml-2"
													type="reset">
													<i class="fas fa-times"></i> &nbsp;Cancelar
												</button>
												<a th:href="@{/farmacia/list}"
													class="btn btn-sm academy-btn btn-4 ml-2" type="reset"><i
													class="fas fa-users"></i> &nbsp;Volver</a>
											</div>
											<input type="hidden" th:field="*{idfarmacia}" />
										</form>
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										<!--<form th:action="@{/farmacia/save}" th:object="${farmacia}" enctype="multipart/form-data" method="post">
										
											  <div class="row d-flex align-items-center" >
												<div class="col-1" align="center">											
													<i class="fas fa-hospital"></i>												
												</div>
												<div class="col-5">													
													<input type="text" class="form-control" th:field="*{nombre}" th:errorclass="'form-control is-invalid'" placeholder="Nombre de la farmacia" />
													<small class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>																
												</div>
													<div class="col-1" align="center">										
														<i class="fas fa-phone"></i>												
													</div>
													<div class="col-5">													
														<input type="tel" class="form-control" th:field="*{telefono}" th:errorclass="'form-control is-invalid'" placeholder="Teléfono" />
													<small class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>																
													</div>
											</div>	
											<br>		

											<div class="row d-flex align-items-center">
												<div class="col-1" align="center">						
													<i class="fas fa-map-marker-alt"></i>								
												</div>
												<div class="col-5">											
													<input type="text" class="form-control" th:field="*{direccion}" th:errorclass="'form-control is-invalid'" placeholder="Dirección"  />
													<small class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>												
												</div>
											</div>
											<br><br>
											<div class="d-flex justify-content-end">	
												<button class="btn btn-success btn-lg active"  type="submit"><i class="fas fa-save"></i> &nbsp;Guardar</button>&nbsp;&nbsp;
												<button class="btn btn-primary btn-lg active" type="reset"><i class="fas fa-times"></i> &nbsp;Cancelar</button>&nbsp;&nbsp;
												<a th:href="@{/farmacia/list}" class="btn btn-info btn-lg active" type="reset"><i class="fas fa-hospital"></i> &nbsp;Volver</a>
											</div>
											<input type="hidden" th:field="*{idfarmacia}" />	
										</form>-->
										
										<br>
										<div class="row">
											<div class="col-10">
												<h4>Articulos</h4>												
											</div>
											<div class="col-2">										
												<button class="btn btn-xs academy-btn btn-3" id="btnAdd" data-toggle="modal" data-target="#modalArticulo"><i class="fas fa-plus-circle"></i>&nbsp;Nuevo</button>
											</div>										
										</div>										
										<div id="listArticulos"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- Modal de medicamento -->
	
	<div class="modal fade" id="modalMedicamento" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar medicamento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body contact-area contact-content-modal" id="contentFrmMedicamento">
				</div>
				<div class="modal-footer">
					<button id="btnSubmit" type="button" class="btn btn-sm academy-btn btn-3" data-dismiss="modal">Guardar</button>
					<button type="button" class="btn btn-sm academy-btn btn-2"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<br>
	
			<!-- Modal de articulo -->
		<div class="modal fade" id="modalArticulo" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Agregar articulo</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body contact-area contact-content-modal" id="contentFrmArticulo">
					</div>
					<div class="modal-footer">
						<button id="btnSubmit" type="button" class="btn btn-sm academy-btn btn-3" data-dismiss="modal">Guardar</button>
						<button type="button" class="btn btn-sm academy-btn btn-2"
							data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
		
	<hr>
	<div th:replace="layout :: frgFooter"></div>
<div th:replace="layout :: frgScripts"></div>

<script th:src="@{/assets/js/farmacia/add-articulo.js}"></script>
<!-- revisar esta linea -->
<!--<script th:src="@{/assets/js/farmacia/card-farmacia.js}"></script>-->
</body>

</html>