<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head th:replace="layout :: frgCSS"></head>
<header th:replace="layout :: frgheader"></header>

<body>
	<table class="table table-hover">
		<thead class="bg-light">
			<tr>
				<th><i class="far fa-address-card"></i>&nbsp;Fármaco</th>
				<th><i class="far fa-address-card"></i>&nbsp;Nombre</th>
				<th><i class="fas fa-user-tie"></i>&nbsp;Costo</th>
				<th><i class="fas fa-user-tie"></i>&nbsp;Cantidad</th>
				<th><i class="fas fa-calendar-alt"></i>&nbsp;SubTotal</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m : ${medicamentos}">
				<td th:text="${m.farmaco.imagen}"></td>
				<td th:text="${m.farmaco.nombre}"></td>
				<td th:text="${m.farmaco.costo}"></td>
				<td th:text="${m.cantidad}"></td>
				<td th:text="${m.subtotal}"></td>
				<td>
					<button th:onclick="|onDelete(${ m.idfarmaco});|"
						class="btn btn-xs academy-btn btn-4">
						<i class="fas fa-trash-alt"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>
<div th:replace="layout :: frgFooter"></div>
<div th:replace="layout :: frgScripts"></div>
</html>